@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');

* {
  font-family: 'Roboto', sans-serif;
}

.text-bold {
  font-weight: bold;
}

.text-thin {
  font-weight: lighter;
}

small {
  color: $gray-dark;
  font-size: 11px;
  display: block;
}
medium {
  color: $gray-dark;
  font-size: 15px;
  display: block;
}
big {
  color: $gray-dark;
  font-size: 27px;
  display: block;
}
